@font-face {
    font-family: 'SUIT';
    src: url('../fonts/SUIT-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'SUIT';
    src: url('../fonts/SUIT-Medium.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'SUIT';
    src: url('../fonts/SUIT-Bold.woff2');
    font-weight: 700;
}
/* Reset */
body,
input,
select,
textarea,
pre,
button {
    font-family: 'SUIT', -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
        'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
body * {
    outline: none;
    box-sizing: border-box;
    font-synthesis: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
html { scroll-behavior: smooth; }
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: 400;
}
body.fixed {
    overflow: hidden;
}
body,
input,
select,
textarea,
pre {
    border: none;
    font-size: 1rem;
    color: #111111;
    margin: 0 auto;
}
button {
    color: #111111;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
}
ul,
ol,
li {
    list-style: none;
}
table {
    border-spacing: 0;
    width: 100%;
}
img,
fieldset {
    border: 0;
}
address,
cite,
code,
em {
    font-style: normal;
}
label,
img,
input,
select,
textarea,
button {
    vertical-align: middle;
}
.hide,
legend {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
hr {
    border: none;
    height: 1px;
    background-color: transparent;
}
main,
header,
section,
nav,
footer,
aside,
article,
figure {
    display: block;
}
a {
    text-decoration: none;
    color: #111111;
}
pre {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #111111;
    line-height: 1.4;
    font-size: 1rem;
}
img {
    max-width: 100%;
}
strong,
em {
    display: inline-block;
    font-weight: 700;
}
  